<h1>Results</h1>

These are the 5 closest early polling locations to your location: (Latitude: <%= @user.latitude %>, Longitude: <%= @user.longitude %>) are:
<br><br>
<div class="col-md-6">
  <% @near_locations.each_with_index do |location, index| %>
    <div class="location-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= index + 1 %>. <%= location.name %>
        </div>
        <div class="panel-body">
          <strong>Address: </strong> <%= location.address %><br>
          <strong>Hours: </strong> <%= location.hours %><br>
          <strong>Current Wait Time:</strong> <%= last_wait_time(location) %><br>
          <%= link_to "Driving Directions", driving_directions_link(@user, location), target:'_blank' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
